.booksToRead {
  margin-top: 2rem;

  .title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .gridToReadContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 220px));
    grid-auto-rows: 360px;
    gap: 3rem;
    justify-content: space-evenly;
  }
}
