@import "../../responsive.scss";

.filtersContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include md {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3rem;
  }

  .filterPerPages {
    display: flex;
    flex-direction: column;

    @include md {
      flex: 1;
    }

    h2 {
      font-size: 1.2rem;
      font-weight: 300;
      text-align: center;

      @include md {
        font-size: 1.5rem;
      }
    }

    .inputContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 300px;
      margin: 0 auto;

      .labels {
        display: flex;
        justify-content: space-between;

        label {
          font-size: 0.8rem;
          color: gray;
          @include md {
            font-size: 1rem;
          }
        }
      }
      span {
        text-align: center;
        @include md {
          font-size: 1.2rem;
        }
      }
    }
  }
  .filterPerGenres {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include md {
      flex: 1;
      gap: 0;
    }

    h2 {
      font-size: 1.2rem;
      font-weight: 300;
      text-align: center;
      @include md {
        font-size: 1.5rem;
      }
    }

    select {
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
      padding: .6rem 1rem;
      font-family: inherit;
      font-weight: 300;

      @include md {
        margin-top: .5rem;
      }

      option {
        padding: 2rem;
      }
    }
  }
}
